.lt-header {
  background-color: #006699;
  h1,
  a {
    color: #fff;
  }
}
body {
  background-color: #fff;
}
.footer {
  background-color: #006699;
  span {
    color: #fff;
  }
  .mui-active span {
    color: darkorange;
  }
}

.mui-content {
  padding-bottom: 0 !important;
  .mui-slider-item {
    width: 100%;
    img {
      width: 100%;
      display: block;
      width: 100%;
    }
  }
}

.nav-link {
  padding: 10px;
  width: 100%;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      float: left;
      width: 33.333%;
      a {
        display: block;
        img {
          width: 100%;
          display: block;
        }
      }
    }
  }
}

.brand {
  width: 100%;
  padding: 0 10px;
  img {
    width: 100%;
          display: block;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      float: left;
      width: 25%;
      a {
        display: block;
        img {
          display: block;
          width: 100%;
        }
      }
    }
  }
}

.product {
  width: 100%;
  padding: 0 10px;
  img {
    width: 100%;
    display: block;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      float: left;
      width: 50%;
      padding: 5px;
      background-color: #fff;
      a {
        display: block;
        padding: 0 5px;
        box-shadow: 0 0 5px #ccc;
        overflow: hidden;
        img {
          display: block;
          width: 100%;
        }
        .introduce {
          line-height: 18px;
          display: block;
          color: #8f8f94;
          text-align: center;
          padding: 6px;
          height: 44px;
          overflow: hidden;
          font-size: 12px;
        }
        p {
          text-align: center;
          span:first-of-type {
            color: red;
          }
          span:last-of-type {
            text-decoration: line-through;
          }
        }
        button {
          background: #006699;
          color: #fff;
          margin: 0 auto;
          border: none;
          display: block;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.content {
  position: absolute;
  top: 44px;
  bottom: 50px;
  width: 100%;
  background: #f5f5f5;
  .cate-list {
    width: 80px;
    float: left;
    height: 100%;
    position: relative;
    .mui-scroll {
      width: 100%;
    }
    a {
      display: block;
      height: 45px;
      line-height: 45px;
      text-align: center;
      border-bottom: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
      color: #000;
      font-size: 14px;
      background-color: #fff;
    }
    .active {
      background-color: #f5f5f5;
      border-right: none;
    }
  }
  .cont-list {
    margin-left: 90px;
    height: 100%;
    position: relative;
    .mui-scroll-wrapper {
      width: 100%;
      .mui-scroll {
        width: 100%;
        a {
          width: 33.3333%;
          text-align: center;
          background-color: #fff;
          float: left;
          color: #8f8f94;
          img {
            width: 100%;
            display: block;
          }
        }
      }
    }
  }
}

.mui-scroll-wrapper {
  .container {
    padding: 10px;
    .search {
      position: relative;
      height: 30px;
      width: 100%;
      border: 1px solid #006699;
      margin-bottom: 20px;
      input[type="button"] {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 60px;
        border-radius: 0;
        border: 0;
        background-color: #006699;
        color: #fff;
      }
      input[type="text"] {
        border: none;
        height: 28px;
        line-height: 28px;
        font-size: 14px;
        padding: 0 10px;
      }
    }
    .title {
      padding-bottom: 10px;
      height: 30px;
      line-height: 30px;
      color: #8f8f94;
      span {
        display: block;
        height: 30px;
        line-height: 30px;
      }
    }
  }
}

#refresh{
  position: absolute;
  top:44px;
  bottom: 50px;
  width: 100%;
  .container{
    padding: 10px;
    .search-bar {
      text-align: center;
      background: #efeff4;
      padding: 8px 0;
      font-size: 14px;
      margin-bottom: 15px;
  }
  }
}
  .login-button{
    padding: 0 10px;
    height: auto !important;
    width: 100% !important;
    button{
      display: block;
      width: 100% !important;
      margin-top: 20px;
      background-color: #006699;
      color: #fff;
    }
  }
  .register{
    display: block;
    float: right;
    margin-top: 20px;
    padding-right: 10px;
    color: #006699;
  }
  .getCode{
    position: absolute;
    right: 10px;
    top: 50%;
    color: #006699;
    transform: translateY(-50%);
  }


