.lt-header {
  background-color: #006699;
}
.lt-header h1,
.lt-header a {
  color: #fff;
}
body {
  background-color: #fff;
}
.footer {
  background-color: #006699;
}
.footer span {
  color: #fff;
}
.footer .mui-active span {
  color: darkorange;
}
.mui-content {
  padding-bottom: 0 !important;
}
.mui-content .mui-slider-item {
  width: 100%;
}
.mui-content .mui-slider-item img {
  display: block;
  width: 100%;
}
.nav-link {
  padding: 10px;
  width: 100%;
}
.nav-link ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-link ul li {
  float: left;
  width: 33.333%;
}
.nav-link ul li a {
  display: block;
}
.nav-link ul li a img {
  width: 100%;
  display: block;
}
.brand {
  width: 100%;
  padding: 0 10px;
}
.brand img {
  width: 100%;
  display: block;
}
.brand ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.brand ul li {
  float: left;
  width: 25%;
}
.brand ul li a {
  display: block;
}
.brand ul li a img {
  display: block;
  width: 100%;
}
.product {
  width: 100%;
  padding: 0 10px;
}
.product img {
  width: 100%;
  display: block;
}
.product ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.product ul li {
  float: left;
  width: 50%;
  padding: 5px;
  background-color: #fff;
}
.product ul li a {
  display: block;
  padding: 0 5px;
  box-shadow: 0 0 5px #ccc;
  overflow: hidden;
}
.product ul li a img {
  display: block;
  width: 100%;
}
.product ul li a .introduce {
  line-height: 18px;
  display: block;
  color: #8f8f94;
  text-align: center;
  padding: 6px;
  height: 44px;
  overflow: hidden;
  font-size: 12px;
}
.product ul li a p {
  text-align: center;
}
.product ul li a p span:first-of-type {
  color: red;
}
.product ul li a p span:last-of-type {
  text-decoration: line-through;
}
.product ul li a button {
  background: #006699;
  color: #fff;
  margin: 0 auto;
  border: none;
  display: block;
  margin-bottom: 10px;
}
.content {
  position: absolute;
  top: 44px;
  bottom: 50px;
  width: 100%;
  background: #f5f5f5;
}
.content .cate-list {
  width: 80px;
  float: left;
  height: 100%;
  position: relative;
}
.content .cate-list .mui-scroll {
  width: 100%;
}
.content .cate-list a {
  display: block;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  color: #000;
  font-size: 14px;
  background-color: #fff;
}
.content .cate-list .active {
  background-color: #f5f5f5;
  border-right: none;
}
.content .cont-list {
  margin-left: 90px;
  height: 100%;
  position: relative;
}
.content .cont-list .mui-scroll-wrapper {
  width: 100%;
}
.content .cont-list .mui-scroll-wrapper .mui-scroll {
  width: 100%;
}
.content .cont-list .mui-scroll-wrapper .mui-scroll a {
  width: 33.3333%;
  text-align: center;
  background-color: #fff;
  float: left;
  color: #8f8f94;
}
.content .cont-list .mui-scroll-wrapper .mui-scroll a img {
  width: 100%;
  display: block;
}
.mui-scroll-wrapper .container {
  padding: 10px;
}
.mui-scroll-wrapper .container .search {
  position: relative;
  height: 30px;
  width: 100%;
  border: 1px solid #006699;
  margin-bottom: 20px;
}
.mui-scroll-wrapper .container .search input[type="button"] {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60px;
  border-radius: 0;
  border: 0;
  background-color: #006699;
  color: #fff;
}
.mui-scroll-wrapper .container .search input[type="text"] {
  border: none;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  padding: 0 10px;
}
.mui-scroll-wrapper .container .title {
  padding-bottom: 10px;
  height: 30px;
  line-height: 30px;
  color: #8f8f94;
}
.mui-scroll-wrapper .container .title span {
  display: block;
  height: 30px;
  line-height: 30px;
}
#refresh {
  position: absolute;
  top: 44px;
  bottom: 50px;
  width: 100%;
}
#refresh .container {
  padding: 10px;
}
#refresh .container .search-bar {
  text-align: center;
  background: #efeff4;
  padding: 8px 0;
  font-size: 14px;
  margin-bottom: 15px;
}
